<!DOCTYPE html>
<html lang='en'>
<head>
        <meta charset='utf-8'/>
        <title>Nik's Tracking Website</title>
        <link type='text/css' rel='stylesheet' href="{{url_for('static', filename='css/main.css')}}"/>
        <script type='text/javascript' src="{{url_for('static', filename='js/main.js')}}"/>

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-TL26N22');</script>
        <!-- End Google Tag Manager -->

</head>
<body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TL26N22"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        <div style='max-width:800px'>
                <h1>Welcome to Nik's Tracking Website</h1>
                <hr>
                <p>How much tracking and data collection are advertisers able to do? This project leverages Google's GMP buying, serving and tagging solutions to collect insights about the users of this page.</p>
        </div>
</body>
</html>
